 <!-- Top Header Start -->
        <div class="top-header">
            <div class="container fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                           
                                <h2 class="mt-3 ml-1">FemaleFirst</h2>
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search mb-2">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                                <div class="dropdown-menu">
                                    <a href="/login" class="dropdown-item">Login</a>
                                    <a href="/signup" class="dropdown-item">Register</a>
                                    <a href="/logout" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                            {{!-- <div class="cart">
                                <i class="fa fa-cart-plus"></i>
                                <span>(01)</span>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->

                <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/product" class="nav-item nav-link">Products</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu">
                                    <a href="/cart" class="dropdown-item">Cart</a>
                                    <a href="/wishlist" class="dropdown-item">Wishlist</a>
                                    <a href="/profile" class="dropdown-item">Profile</a>
                                    <a href="/wallet" class="dropdown-item">Wallet</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->
        
      